<div class="modal fade" id="{{ id }}_modal" data-backdrop="static">
    <div class="modal-dialog {{ sizeClass }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="font-weigth-light">{{ titulo }}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fechar.emit()">×</button>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
</div>
