<form #consignacaoSuspensaoForm="ngForm">
    <app-modal #modal 
            id="modalSuspensao" 
            titulo="Suspender Contrato"
            sizeClass="modal-xl"
            (fechar)="fechar()">
        <app-modal-body *ngIf="(proposta$ | async) && proposta">
            <div class="row">
                <div class="form-group col-xl-6">
                    <label>Consignatária:</label>
                    <input class="form-control" value="{{ (proposta$ | async).usuarioConsignatario.empresaConsignataria.pessoa.documento }} - {{ (proposta$ | async).usuarioConsignatario.empresaConsignataria.pessoa.nomeFantasia }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Consignado:</label>
                    <input class="form-control" value="{{ (proposta$ | async).empregadoConsignante.pessoa.documento }} - {{ (proposta$ | async).empregadoConsignante.pessoa.nome }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Consignado:</label>
                    <input class="form-control" value="{{ (proposta$ | async).empregadoConsignante.pessoa.documento }} - {{ (proposta$ | async).empregadoConsignante.pessoa.nome }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Consignante:</label>
                    <input class="form-control" value="{{ (proposta$ | async).empregadoConsignante.empresa.pessoa.documento }} - {{ (proposta$ | async).empregadoConsignante.empresa.pessoa.nomeFantasia }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Estrutura Organizacional:</label>
                    <input class="form-control" value="{{ (proposta$ | async).empregadoConsignante.profissao }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Serviço:</label>
                    <input class="form-control" value="{{ (proposta$ | async).servicoConsignacao.codigoDesconto }} - {{ (proposta$ | async).servicoConsignacao.descricao }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Matrícula:</label>
                    <input class="form-control" value="{{ (proposta$ | async).empregadoConsignante.matricula }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Identificação do Contrato:</label>
                    <input class="form-control" value="{{ (proposta$ | async).identificacaoContrato }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Margem Consignável Atual:</label>
                    <input class="form-control" value="{{ (proposta$ | async).empregadoConsignante.valorMargem | currency:'BRL' }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Margem Consignável Disponível para Alteração (valor liberado pelo contrato):</label>
                    <input class="form-control" value="{{ ((proposta$ | async).empregadoConsignante.valorMargem) + ((proposta$ | async).valorParcela) | currency:'BRL' }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Prazo:</label>
                    <input class="form-control" value="{{ (proposta$ | async).parcelas }}" disabled />
                </div>

                <div class="form-group col-xl-6">
                    <label>Valor Parcela:</label>
                    <input class="form-control" value="{{ (proposta$ | async).valorParcela | currency:'BRL' }}" disabled />
                </div>

                <div class="form-group col-xl-12">
                    <label>Justificativa*:</label>
                    <textarea #justificativaNovo="ngModel" name="justificativaNovo" [(ngModel)]="proposta.suspensaoJustificativa"
                        class="form-control {{ (justificativaNovo.invalid && consignacaoSuspensaoForm.submitted) ? 'is-invalid' : '' }}"
                        maxlength="5000" required></textarea>
                </div>

                <div class="form-group col-xl-6">
                    <label>Bloqueio*:</label>
                    <select #bloqueioNovo="ngModel" name="bloqueioNovo" [(ngModel)]="proposta.suspensaoComBloqueio"
                        class="form-control {{ (bloqueioNovo.invalid && consignacaoSuspensaoForm.submitted) ? 'is-invalid' : '' }}" required>
                        <option [ngValue]="undefined">Selecione...</option>
                        <option [ngValue]="simNao.SIM">Com Bloqueio de Margem</option>
                        <option [ngValue]="simNao.NAO">Sem Bloqueio de Margem</option>
                    </select>
                </div>

                <div class="form-group col-xl-6">
                    <label>Anexo:</label>
                    <input class="form-control" type="file" (change)="selectFile($event)">
                </div>

            </div>
        </app-modal-body>
        <app-modal-footer *ngIf="(proposta$ | async) as propostaStore">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fechar()">Fechar</button>
            <button type="submit" class="btn btn-primary" (click)="salvar(propostaStore.id)">Salvar</button>
        </app-modal-footer>
    </app-modal>

    <app-modal-confirmacao #confirmacao id="modalConfirmacaoSuspensao" mensagem="Confirmar suspensão de contrato de consignação?"
         (confirmar)="confirmar()" modalVinculada="modalSuspensao"></app-modal-confirmacao>
</form>
