<style type="text/css" scoped>
    @page { margin: 10px 0px 0px 30px; } 
    
    .divImpressao { visibility: visible; width: 300px;  } 
    .tituloImpressao { font-weight: bold; text-align: center; width: 100%; padding-bottom: 30px; } 
    .center { text-align: center; } 
    .divDadosGerais { width: 100%;  } 
    label { font-weight: bold; clear: both; } 
    span { clear: both; width: 100%; } 
    h4 { font-size: 20px; padding-left: 10px; padding-top: 0px !important; } 
    h3 { font-size: 20px; } 
    li { list-style-type: none; } 
    small { display: none; } 
    input,select { clear: both; margin-top: 5px; margin-bottom: 10px; width: 90%; padding: 10px; font-size: 15px } 
</style>
<div style="width: 100%;">
    <div id="reciboImpressao" styleClass="divImpressao" style="font-size: 12px;">
				
		<div class="divDadosGerais center">
			WEBCARD<br />
			COMPROVANTE DE VENDA
		</div>
		<div class="divDadosGerais">
			<br />
		</div>
		<div class="divDadosGerais">
			<span>Gerenciadora: Mastercard
			<br />
			CNPJ: 12.234.238/0001-09</span>
		</div>
		<div class="divDadosGerais">
			<br />
		</div>
		<div class="divDadosGerais">
			<span>Estabelecimento de Teste</span>
		</div>
		<div class="divDadosGerais">
			<span>CNPJ: 2347234723976427</span>
		</div>
		<div class="divDadosGerais">
			<span>SHCES 1311 Bloco J</span>
		</div>
		<div class="divDadosGerais">
			<br />
		</div>
		<div class="divDadosGerais">
			<span>Organização de teste
			<br />
			CNPJ: 234239472634
			</span>
		</div>
		<div class="divDadosGerais">
			<span>Centro de Custo de Teste</span>
		</div>
		<div class="divDadosGerais">
			<span>Condutor de Teste</span>
		</div>
		<div class="divDadosGerais">
			<span>Matrícula: MAT0001</span>
		</div>
		<div class="divDadosGerais">
			<span>Cartão: 6738 **** **** 9283</span>
		</div>
		<div class="divDadosGerais">
			<span>PAT-5911 - JEEP - Renegade - Comustivel</span>
		</div>
		<div class="divDadosGerais">
			<span>Hodômetro: 36000.00 Km</span>
		</div>
		<div class="divDadosGerais">
			<span>Saldo: R$ 100,00</span>
		</div>
		<div class="divDadosGerais">
			<span>Data: 10/03/2020</span>
		</div>
		<div class="divDadosGerais">
			<span>Comprovante: 234234</span>
		</div>
		<div class="divDadosGerais">
			<span>Identificação Fiscal: VAZIO</span>
		</div>
		<div class="divDadosGerais">
			<span>--------------------------------------------------------</span><br />
                <span>GASOLINA</span><br />
                <span>
                    10 L x 
                    4,50 
                    - R$ 45,00
                </span><br />
          	<span>--------------------------------------------------------</span>
		</div>
		<div class="divDadosGerais">
			<span>Valor Total: R$ 45,00</span>
		</div>
		<div class="divDadosGerais center">
			<span>Autorizado por senha pessoal</span>
		</div>
		<div class="divDadosGerais center">
			<span>*** COMPROVANTE NAO FISCAL ***</span>
		</div>
		<div class="divDadosGerais center">
			<span>VIA CLIENTE</span>
		</div>
	
	</div>
</div>