<form #empresaNovoForm="ngForm" (ngSubmit)="salvar()">
    <app-modal #modal 
            id="modalAdicionarEmpresa" 
            titulo="Adicionar Empresa Consignatária"
            sizeClass="modal-lg"
            (fechar)="empresaNovoForm.resetForm()">
        <app-modal-body *ngIf="empresaConsignataria">
            <div class="row">
                <div class="form-group col-xl-12">
                    <label>Empresa*:</label>
                    <select #empresaNovo="ngModel" name="empresaNovo" [(ngModel)]="idPessoa"
                        class="form-control {{ ((!empresaConsignataria.pessoa) && empresaNovoForm.submitted) ? 'is-invalid' : '' }}" required>
                        <option [ngValue]="undefined">Selecione...</option>
                        <option *ngFor="let pessoa of (pessoas$ | async)" [ngValue]="pessoa.id">{{ pessoa.nomeFantasia }}</option>
                    </select>
                </div>

                <div class="form-group col-xl-6">
                    <label>Status*:</label>
                    <select #statusNovo="ngModel" name="statusNovo" [(ngModel)]="empresaConsignataria.status"
                        class="form-control {{ (statusNovo.invalid && empresaNovoForm.submitted) ? 'is-invalid' : '' }}" required>
                        <option [ngValue]="status.ATIVO">Ativo</option>
                        <option [ngValue]="status.INATIVO">Inativo</option>
                    </select>
                </div>

                <div class="form-group col-xl-6">
                    <label>Sigla*:</label>
                    <input #siglaNovo="ngModel" name="siglaNovo" [(ngModel)]="empresaConsignataria.sigla" 
                        maxlength="20" class="form-control {{ (siglaNovo.invalid && empresaNovoForm.submitted) ? 'is-invalid' : '' }}" required/>
                </div>

                <div class="form-group col-xl-12">
                    <label>Banco*:</label>
                    <select #bancoNovo="ngModel" name="bancoNovo" [(ngModel)]="idBanco"
                        class="form-control {{ ((!empresaConsignataria.banco) && empresaNovoForm.submitted) ? 'is-invalid' : '' }}" required>
                        <option [ngValue]="undefined">Selecione...</option>
                        <option *ngFor="let banco of (bancos$ | async)" [ngValue]="banco.id">{{ banco.id }} - {{ banco.nome }}</option>
                    </select>
                </div>

                <div class="form-group col-xl-6">
                    <label>Agência com DV*:</label>
                    <input #agenciaNovo="ngModel" name="agenciaNovo" [(ngModel)]="empresaConsignataria.agencia" 
                        maxlength="5" class="form-control {{ (agenciaNovo.invalid && empresaNovoForm.submitted) ? 'is-invalid' : '' }}" appNumeroFormat required/>
                </div>

                <div class="form-group col-xl-6">
                    <label>Conta com DV*:</label>
                    <input #contaNovo="ngModel" name="contaNovo" [(ngModel)]="empresaConsignataria.conta" 
                        maxlength="13" class="form-control {{ (contaNovo.invalid && empresaNovoForm.submitted) ? 'is-invalid' : '' }}" appNumeroFormat required/>
                </div>
            </div>
        </app-modal-body>
        <app-modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="empresaNovoForm.resetForm()">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </app-modal-footer>
    </app-modal>
</form>
