<form #usuarioPerfilForm="ngForm" (ngSubmit)="salvar()">
    <app-modal #modal 
            id="modalUsuarioPerfil" 
            titulo="Vincular Perfis"
            sizeClass="modal-lg"
            (fechar)="fechar()">
        <app-modal-body *ngIf="usuario">
            <div class="row">
                <div class="form-group col-xl-8">
                    <label>Perfil*:</label>
                    <select #perfilNovo="ngModel" name="perfilNovo" [(ngModel)]="idPerfilSelecionado"
                        class="form-control {{ (perfilNovo.invalid && usuarioPerfilForm.submitted) ? 'is-invalid' : '' }}" required>
                        <option [ngValue]="undefined">Selecione...</option>
                        <option *ngFor="let perfil of (perfis$ | async)"
                            [ngValue]="perfil.id">{{ perfil.nome }}</option>
                    </select>
                </div>

                <div class="col-xl-4 text-right" style="margin-top: 2em;">
                    <button type="submit" class="btn btn-primary">Vincular Perfil</button>
                </div>
            </div>

            <p-table #perfisTable
                    [value]="registros$ | async"
                    [totalRecords]="totalRegistros$ | async"
                    (onLazyLoad)="loadPerfis($event)"
                    [paginator]="true"
                    [rows]="5"
                    [lazy]="true"
                    [rowsPerPageOptions]="[5,10,15]"
                    styleClass="table-responsive"
                    tableStyleClass="table table-striped table-bordered"
                    *ngIf="totalRegistros$ | async">
                
                <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Status</th>
                    <th>Perfil</th>
                    <th>Data de Cadastro</th>
                    <th>Ações</th>
                </tr>
                </ng-template>
                <ng-template pTemplate="body" let-perfil let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>
                    <span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill" *ngIf="status.INATIVO === perfil.status">Inativo</span>
                    <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill" *ngIf="status.ATIVO === perfil.status">Ativo</span>
                    </td>
                    <td>{{ perfil.perfil.nome }}</td>
                    <td>{{ perfil.dataCadastro | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>
                    <a *ngIf="status.ATIVO === perfil.status"
                        style="margin-right: 10px; color: #ea5252; cursor: pointer;" 
                        title="Excluir/Inativar"
                        (click)="usuarioPerfilStatus.carregar(perfil)"><i class="fa fa-times"></i></a>
                    
                    <a *ngIf="status.INATIVO === perfil.status"
                        style="margin-right: 10px; color: green; cursor: pointer;" 
                        title="Ativar"
                        (click)="usuarioPerfilStatus.carregar(perfil)"><i class="fa fa-check"></i></a>
                    </td>
                </tr>
                </ng-template>
            </p-table>
        </app-modal-body>

        <app-modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fechar()">Fechar</button>
        </app-modal-footer>
    </app-modal>
</form>

<app-usuario-perfil-status #usuarioPerfilStatus></app-usuario-perfil-status>
