<form #representanteStatusForm="ngForm" (ngSubmit)="salvar()">
    <app-modal #modal 
        id="modalStatusRepresentante" 
        titulo="{{ ((representante) && (status.ATIVO === representante.status)) ? 'Inativar Representante' : 'Ativar Representante' }}"
        (fechar)="representanteStatusForm.resetForm()">
        <app-modal-body *ngIf="representante">
            <div class="row">
                <div class="col-xl-12">
                    <label *ngIf="status.INATIVO === representante.status">
                        Deseja realmente ativar o registro?
                    </label>
                    <label *ngIf="status.ATIVO === representante.status">
                        Deseja realmente excluir/inativar o registro?
                    </label>
                </div>
            </div>
        </app-modal-body>
        <app-modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="representanteStatusForm.resetForm()">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </app-modal-footer>
    </app-modal>
</form>
    
    