<form #servicoConsignacaoStatusForm="ngForm" (ngSubmit)="salvar()">
    <app-modal #modal 
        id="modalStatusServicoConsignacao" 
        titulo="{{ ((servicoConsignacao) && (status.ATIVO === servicoConsignacao.status)) ? 'Inativar Serviço de Consignação' : 'Ativar Serviço de Consignação' }}"
        (fechar)="servicoConsignacaoStatusForm.resetForm()">
        <app-modal-body *ngIf="servicoConsignacao">
            <div class="row">
                <div class="col-xl-12">
                    <label *ngIf="status.INATIVO === servicoConsignacao.status">
                        Deseja realmente ativar o registro?
                    </label>
                    <label *ngIf="status.ATIVO === servicoConsignacao.status">
                        Deseja realmente excluir/inativar o registro?
                    </label>
                </div>
            </div>
        </app-modal-body>
        <app-modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="servicoConsignacaoStatusForm.resetForm()">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </app-modal-footer>
    </app-modal>
</form>
        
        