<app-card>
    <app-card-header titulo="Pesquisar Visita">
        <button *ngIf="permiteFuncionalidadeAcao(funcionalidadeEnum.VISITAS, acaoEnum.INCLUIR) | async" class="btn btn-sm btn-outline-primary" (click)="visitasNovo.adicionar()">Adicionar</button>
    </app-card-header>
    <form class="kt-form" >
        <app-card-body>
            <div class="row">
                <div class="form-group col-xl-6">
                    <label>Nome do Beneficia&#769;rio:</label>
                    <input [(ngModel)]="filtro.nome" name="nome" type="text" class="form-control" placeholder="Nome do Beneficia&#769;rio" />
                </div>

                <div class="form-group col-xl-3">
                    <label>Data da Visita:</label>
                    <p-calendar name="dataVisita"
                                styleClass="w-100"
                                [locale]="pt"
                                inputStyleClass="form-control"
                                monthNavigator="true"
                                yearNavigator="true"
                                dateFormat="dd/mm/yy"
                                yearRange="1900:2100"
                                placeholder="Data da Visita"
                                [(ngModel)]="filtro.dataVisita"></p-calendar>                  
                </div>
                <div class="form-group col-xl-3">
                    <label>Status:</label>
                    <select name="status" class="form-control" [(ngModel)]="filtro.status">
                        <option [ngValue]="undefined">Selecione...</option>
                        <option [ngValue]="status.ATIVO">Ativo</option>
                        <option [ngValue]="status.INATIVO">Inativo</option>
                    </select>
                </div>
            </div>
        </app-card-body>

        <app-card-footer>
            <button type="button" class="btn btn-secondary mr-2" (click)="limparFiltro()">Limpar</button>
            <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
        </app-card-footer>
    </form>
</app-card>

<app-card *ngIf="totalRecords$ | async">
    <app-card-header titulo="Resultado da Busca"></app-card-header>
    <app-card-body>
        <p-table #visitasTable
                 [value]="visitas$ | async"
                 [totalRecords]="totalRecords$ | async"
                 (onLazyLoad)="loadVisitas($event)"
                 [paginator]="true"
                 [rows]="5"
                 [lazy]="true"
                 [rowsPerPageOptions]="[5,10,15]"
                 styleClass="table-responsive"
                 tableStyleClass="table table-striped table-bordered">
            
            <ng-template pTemplate="header">
              <tr>
                <th>#</th>
                <th>Status</th>
                <th>Id</th>
                <th>Data de Visita</th>
                <th>Pessoa</th>
                <th>Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-visita let-i="rowIndex">
              <tr>
                <td>{{ i + 1 }}</td>
                <td>
                  <span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill" *ngIf="status.INATIVO === visita.status">Inativo</span>
                  <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill" *ngIf="status.ATIVO === visita.status">Ativo</span>
                </td>
                <td>{{ visita.id }}</td>
                <td>{{ visita.dataVisita | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td *ngIf="visita.pessoa">
                  {{ visita.pessoa.nome }}{{ visita.pessoa.nomeFantasia }}
                </td>                <td>
                  <a *ngIf="status.ATIVO === visita.status && (permiteFuncionalidadeAcao(funcionalidadeEnum.VISITAS, acaoEnum.INATIVAR) | async)"
                    style="margin-right: 10px; color: #ea5252; cursor: pointer;" 
                    title="Excluir/Inativar"
                    (click)="visitasStatus.carregar(visita)"><i class="fa fa-times"></i></a>
               
                  <a *ngIf="status.INATIVO === visita.status && (permiteFuncionalidadeAcao(funcionalidadeEnum.VISITAS, acaoEnum.ATIVAR) | async)"
                    style="margin-right: 10px; color: green; cursor: pointer;" 
                    title="Ativar"
                    (click)="visitasStatus.carregar(visita)"><i class="fa fa-check"></i></a>

                  <a title="Detalhar/Editar"
                     style="margin-right: 10px; color: #5d78ff; cursor: pointer;"
                     (click)="visitasNovo.editar(visita)"
                     *ngIf="permiteFuncionalidadeAcao(funcionalidadeEnum.VISITAS, acaoEnum.ALTERAR) | async">
                    <i class="fa fa-search"></i>
                  </a>
                </td>
              </tr>
            </ng-template>
        </p-table>
    </app-card-body>
</app-card>

<app-visitas-novo #visitasNovo></app-visitas-novo>
<app-visitas-status #visitasStatus></app-visitas-status>
