<app-card>
    <app-card-header>Base Controls</app-card-header>
    <form class="kt-form">
        <app-card-body>
            <app-card-info>
                Informar dados relevantes ao cadastro.
            </app-card-info>
            
                <div class="form-group col-xl-6">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email"/>
                </div>
        </app-card-body>

        <app-card-footer>
            <button type="button" class="btn btn-primary mr-2">Salvar</button>
            <button type="button" class="btn btn-secondary">Limpar</button>
        </app-card-footer>
    </form>
</app-card>
            